# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\QA\final assigment\qaa-assignment-master\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
